.edit-container {
    background-color: #f3ad62;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .edit-header {
    background-color: #8b5e3c;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .header-logo {
    width: 40px;
    border-radius: 50%;
    margin-right: auto; /* Pushes title to center */
  }
  
  .exit-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 2px solid red;
    position: relative;
  }

  
  .edit-card {
    background: #fff;
    border-radius: 16px;
    margin-top: 30px;
    padding: 40px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .edit-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cancel-btn,
  .save-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
  }
  
  .save-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .avatar-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
  
  .cycle-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .edit-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 10px;
  }
  
  .username-input {
    font-size: 1rem;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
  }
  
  .bio-input {
    font-size: 0.9rem;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    resize: none;
  }
  